<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>vue表单输入</title>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/vue/2.1.3/vue.js"></script>
	</head>
	<body>
	  <!--单选按钮-->
	  <div id="example-4">
	    <h3>单选输入</h3>
      <input type="radio" id="one" value="One" v-model="picked">
      <label for="one">One</label>
      <br>
      <input type="radio" id="two" value="Two" v-model="picked">
      <label for="two">Two</label>
      <br>
      <span>Picked: {{ picked }}</span>
          <h3>多选输入,实现全选功能</h3>
    </div>
    <script type="text/javascript">
    	new Vue({
        el: '#example-4',
        data: {
          picked: ''
        }
      })
    </script>
    <!--多选输入,实现全选功能-->
    <div id='example-3'>
    	全选：<input type="checkbox"  v-on:click='checkedAll($event)' v-model="checked">
      <p v-for="item in checkboxData">
      	<input type="checkbox" :id="item" :value="item" v-model="checkedNames">
      	<label for="item">{{item}}</label>
      </p>
      <br>
      <span>Checked names: {{checkedNames}}</span>
    </div>
    <script type="text/javascript">
      new Vue({
        el: '#example-3',
        data: {
          checkedNames: [],
          checkboxData:['Jack','John','Mike'],
          checked:false
        },
        methods:{
		  checkedAll: function($event) {
		  	var checked=$event.target.checked;
		  	//console.log(checked);
		    var _this = this;
		    if (!checked) {//实现反选
		      _this.checkedNames = [];
		    }else{//实现全选
		      _this.checkedNames = [];
		      _this.checkboxData.forEach(function(item) {
		        _this.checkedNames.push(item);
		      });
		    }
		  }
		},
		watch: {//深度 watcher
		  'checkedNames': {
		    handler: function (val, oldVal) { 
		      if (this.checkedNames.length === this.checkboxData.length) {
		        this.checked=true;
		      }else{
		        this.checked=false;
		      }
		    },
		    deep: true
		  }
		},
      })
    </script>
    <!--选择列表-->
    <div id="example-5">
      <h3>单选列表</h3>
      <select v-model="selected">
        <option disabled value="">请选择</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
      <span>Selected: {{ selected }}</span>
    </div>
    <script type="text/javascript">
    	new Vue({
        el: '#example-5',
        data: {
          selected: ''
        }
      })
    </script>
    <h3>多选列表</h3>
    <div id="example-6">
      <select v-model="selected" multiple style="width: 50px">
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
      <br>
      <span>Selected: {{ selected }}</span>
      <h3>.lazy修饰符 在 "change" 而不是 "input" 事件中更新</h3> 
      <h5>无.lazy修饰符</h5> 
        <input v-model="msg" >
        <p>{{msg}}</p>
      <h5>有.lazy修饰符</h5> 
        <input v-model.lazy="msg1" >
        <p>{{msg1}}</p>
      <h3>.number修饰符 可更改输入值返回类型为number</h3> 
      <h5>有.number修饰符</h5>
        <input v-model.number="age" type="text" placeholder='请输入数字' @change='isType(age)'>
        <p>{{age}}</p>
      <h5>无.number修饰符</h5>
        <input v-model="age1" type="text" placeholder='请输入数字' @change='isType(age1)'>
        <p>{{age1}}</p>
      <h3>.trim修饰符 去除输入值两边的空格</h3>
      <input v-model.trim="name" type="text" :class='{ddd:a}' @change='isType(name)'>
      <p>{{name}}</p>
    </div>
    <script type="text/javascript">
    	var hello =  new Vue({
        el: '#example-6',
        data: {
          a:true,
          selected: [],
          msg:'',
          msg1:'',
          age:'',
          age1:'',
          name:''
        },
        methods: {
          // 检测输入值类型
          isType:function(curVal){
            alert(curVal+"类型"+typeof(curVal))
          }
        }
      })
    </script>
	</body>
</html>
